<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>test demo</title>
    
    <link rel="stylesheet" type="text/css" href="font/font.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/indexbridge.js"></script>
    
    </head>
    <body style="width:100%;height:100%;background-color:#ccc">
        <div id="base_wrapper">
        <iframe v-bind:src="basesrc" id="baseframe"></iframe>
        <div id="scope" v-show="(initObj.kind=='compound'||!scopeWakuVis)">
            <iframe v-bind:src="scopesrc" id="scopeframe"></iframe>
        </div>
        <div id="scopewaku" v-bind:style="scopewaku" v-show="scopeWakuVis">            
                            <svg id="scopering" v-show="initObj.mark&&initObj.kind=='compound'"><circle cx="50%" cy="50%" v-bind:r="initObj.ring.r" fill="none" v-bind:stroke="initObj.onRing?colors[initObj.markColor]:'none'" v-bind:style="{strokeWidth: initObj.ring.lwidth}"></circle>
                                <circle cx="50%" cy="50%" v-bind:r="initObj.dot.r" v-bind:fill="initObj.onDot?colors[initObj.markColor]:'none'" stroke="none"></circle></svg>
            <div id="scopepin" v-show="initObj.pin&&initObj.kind=='compound'"></div>
            </div>
            <div id="gard">
                <div id="deb" v-if="deb" v-html="debtext">
                </div>
                <button id="menubut" v-if="!showMenu" v-on:click="showMenu=true">MENU</button>
                <button id="clearbut" v-on:click="clearShoot">Clear</button>
                <div id="dragSliderset" class="ruler">Geomagnetic displacement correction<div id="dragSliderbutt">&gt;|&lt;</div></div>
                <div id="sliderset"><div id="sliderbutt"></div></div>
                <button id="centerTrim" v-on:click="centerTrim()">[ ┼ ]</button>
                <a id="shootbut" v-show="shootbut"></a>
            <div id="menu" v-show="showMenu">
                <button id="menuclose" v-on:click="showMenu=false;setStrageData()">
                </button>
                
                    <div style="height: 100%;overflow: auto;padding-bottom: 100px;">
                    <ul id="kind">
                        <li>
                            <button v-on:click="setScopeKind('compound')" v-bind:class="{select:initObj.kind=='compound'}">Compound</button>
                        </li>
                        <li>
                            <button v-on:click="setScopeKind('recurv')" v-bind:class="{select:initObj.kind=='recurv'}">Recurve</button>
                        </li>
                    </ul>
                <figure id="targetfaces">
                    <figcaption>
                        マト選択
                    </figcaption>
                    <ul>
                        <li>
                            <button v-on:click="setTargetFace('cp50')" v-bind:class="{select:initObj.targetFace=='cp50'}">CP50m</button>
                        </li>
                        <li>
                            <button v-on:click="setTargetFace('rc70')" v-bind:class="{select:initObj.targetFace=='rc70'}">RC70m</button>
                        </li>
                        <li>
                            <button v-on:click="setTargetFace('id18')" v-bind:class="{select:initObj.targetFace=='id18'}">18mRound</button>
                        </li>
                </ul>
                </figure>
                <figure v-show="initObj.kind=='compound'">
                    <figcaption>
                        レンズ倍率
                    </figcaption>
                <ul>
                    <li>
                    <button v-on:click="setZoom(4)" v-bind:class="{select:initObj.zoom==4}">
                        4X</button>
                    </li>
                    <li>
                    <button v-on:click="setZoom(6)" v-bind:class="{select:initObj.zoom==6}">
                        6X</button>
                    </li>
                    <li>
                    <button v-on:click="setZoom(8)" v-bind:class="{select:initObj.zoom==8}">
                        8X</button>
                    </li>
                </ul>
                <ul id="scopeToggles">
                    <li>
                        <figcaption>
                            リングドットシール
                        </figcaption>
                        <div id="marktoggle" class="togglebase" v-bind:class="{active:initObj.mark}" v-on:click="initObj.mark=!initObj.mark">
                            <div class="togglenob"></div>
                        </div>
                    </li>
                    <li>
                        <figcaption>
                            ファイバーピン
                        </figcaption>
                        <div id="marktoggle" class="togglebase" v-bind:class="{active:initObj.pin}" v-on:click="initObj.pin = !initObj.pin">
                            <div class="togglenob"></div>
                        </div>
                    </li>
                </ul>
                    <div v-show="initObj.mark">
                    <div id="colorchip">
                        <a class="orange" v-bind:class="{active:(initObj.markColor=='orange')}" v-on:click="initObj.markColor='orange'"></a>
                        <a class="yellow" v-bind:class="{active:(initObj.markColor=='yellow')}" v-on:click="initObj.markColor='yellow'"></a>
                        <a class="green" v-bind:class="{active:(initObj.markColor=='green')}" v-on:click="initObj.markColor='green'"></a>
                        <a class="black" v-bind:class="{active:(initObj.markColor=='black')}" v-on:click="initObj.markColor='black'"></a>
                        <a class="frost" v-bind:class="{active:(initObj.markColor=='frost')}" v-on:click="initObj.markColor='frost'"></a>
                    </div>
                        
                    <div id="onRing">
                        <figcaption>
                            Ring
                        </figcaption>
                        <div id="ringtoggle" class="togglebase" v-bind:class="{active:initObj.onRing}" v-on:click="initObj.onRing=!initObj.onRing">
                            <div class="togglenob"></div>
                        </div>
                        <div id="ringfigure" v-show="initObj.onRing">
                            内径<span class="number" v-text="ring.naikei" v-bind:class="{active:sliderFor=='naikei'}" v-on:click="openSlider('naikei')"></span>
                            外径<span class="number" v-text="ring.gaikei" v-bind:class="{active:sliderFor=='gaikei'}" v-on:click="openSlider('gaikei')"></span>
                        </div>
                        <div id="ringRadiussliderbase" v-show="sliderFor=='naikei'||sliderFor=='gaikei'" class="radiussliderbase">
                            <div class="ruler"><div class="radiusSliderbutt">|</div></div>
                        </div>
                    </div>                        
                    <div id="onDot">
                        <figcaption>
                            Dot
                        </figcaption>
                        <div id="dottoggle" class="togglebase" v-bind:class="{active:initObj.onDot}" v-on:click="initObj.onDot=!initObj.onDot">
                            <div class="togglenob"></div>
                        </div>
                        <div id="dotfigure" v-show="initObj.onDot">
                            直径<span class="number" v-text="dot.chokkei" v-on:click="openSlider('dotkei')"  v-bind:class="{active:sliderFor=='dotkei'}"></span>
                        </div>
                        <div id="dotRadiussliderbase" v-show="sliderFor=='dotkei'" class="radiussliderbase">
                            <div class="ruler"><div class="radiusSliderbutt">|</div></div>
                        </div>
                    </div>
                        <div id="markpre">
                            <svg id="presvg">
                                <circle cx="150" cy="100" r="110" fill="none" stroke="#000" strokeWidth="2"></circle>
                                <circle cx="150" cy="100" v-bind:r="initObj.ring.r" fill="none" v-bind:stroke="initObj.onRing?colors[initObj.markColor]:'none'" v-bind:style="{strokeWidth: initObj.ring.lwidth}"></circle>
                                <circle cx="150" cy="100" v-bind:r="initObj.dot.r" v-bind:fill="initObj.onDot?colors[initObj.markColor]:'none'" stroke="none"></circle></svg>
                        </div>
                    </div>
                </figure>
                <figure>
                    <figcaption>
                        スタビライズ強度:range<span class="number" v-text="initObj.stabilize"></span>
                    </figcaption>
                    <div id="stabiSliderset" class="ruler"><div id="stabiSliderbutt">|</div></div>
                </figure>
                    </div>
            </div>
            </div>
            
            </div>
    </body>
</html>