*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
#scope{
    position:absolute;
    width:350px;
    height:350px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
}

#baseframe{
    width:100%;
    height:100%;
    position:absolute;
    left:0;top:0;
    border:none;
}
#scopeframe{
        width: 350px;
        height: 350px;
        border: none;
}
@media screen and (orientation: portrait){
    #base_wrapper{
        width: 720px;
        height: 1280px;
    }
}
@media screen and (orientation: landscape){
    #base_wrapper{
        width: 1280px;
        height: 720px;
    }
}
#base_wrapper{
    position: absolute;
    top: 0;
    left: 0;
}
#scopewaku{
    width: 480px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#gard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#menubut{
    width: 200px;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    border: 2px solid rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 10px;
}
#clearbut{
    width: 200px;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    border: 2px solid rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 10px;
}
#menu{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}
#menuclose{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
    background-color: rgba(0,0,0,0);
    border: none;
}
#menu #kind{
    position: relative;
    top: 100px;
}

#menu #targetfaces{
    padding-top: 150px;
}
#menu #targetfaces button{
    font-size: 35px;
}

#menu figure{
    font-size: 40px;
    color: #fff;
    padding-top: 20px;
}
#menu figure figcaption{
    text-align: center;
    padding: 5px;}

#menu  ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
#menu  ul li button{
    width: 200px;
    height: 100px;
    font-size: 50px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    border: solid #fff 2px;
}
#menu ul#kind li button{
    font-size: 30px;
}