*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}
body{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
button{
    min-width: 100px;
    height: 50px;
    background-color: rgba(0,0,0,0.4);
    outline: none;
}
button:active,button:focus{
    background-color: rgba(255,255,255,0.3);
}
button.select{
    background-color:rgba(255,255,255,0.5);
}
#base_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#scope{
    position:absolute;
    width:65vmin;
    height: 65vmin;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
}
#baseframe{
    width:100%;
    height:100%;
    position:absolute;
    left:0;top:0;
    border:none;
}
#scopeframe{
        width: 100%;
        height: 100%;
        border: none;
}

#base_wrapper{
    position: absolute;
    top: 0;
    left: 0;
}
#scopewaku{
    position: absolute;
    left: 50%;
    top: 50%;
    width:70vmin;
    height:70vmin;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#gard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#menubut{
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    border: 2px solid rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 10px;
}
#clearbut{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: 2px solid rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 10px;
}
#centerTrim{
    position: absolute;
    bottom: 20px;
    right: 10px;
    border: 2px solid rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 10px;
}
#sliderset{
    position: absolute;
    height: 42px;
    width:50vmin;
    border: inset 2px #ccc;
    background-color: rgba(0,0,0,0.5);
    bottom: 20px;
    left: 20px;
    box-sizing: border-box;
}
#sliderset div{
    height: 40px;
    width: 80px;
    min-width: 80px;
    background-color: #fff;
    box-sizing: border-box;
    border:1px #fff outset;
    position: absolute;
    top: 0;
    left: 0;
}
#sliderset div.ret{
    transition: left 0.3s cubic-bezier(.01, .56, .25, 1) 0s;
}
#dragSliderset{
    background-image:url('data:image/svg+xml;utf8,<svg width="50" height="30" xmlns="http://www.w3.org/2000/svg"><g><line fill="none" stroke="#ffffff" stroke-width="1.5" x1="25.8125" y1="13.54159" x2="25.8125" y2="0.03935" id="svg_2" stroke-linejoin="undefined" stroke-linecap="undefined"/><line fill="none" stroke-width="1.5" x1="32.06246" y1="8.79161" x2="32.06246" y2="0.03935" id="svg_4" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/><line fill="none" stroke-width="1.5" x1="38.31243" y1="8.79161" x2="38.31243" y2="0.03935" id="svg_5" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/><line fill="none" stroke-width="1.5" x1="44.81239" y1="8.79161" x2="44.81239" y2="0.03935" id="svg_6" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/><line fill="none" stroke-width="1.5" x1="19.43753" y1="8.79161" x2="19.43753" y2="0.03935" id="svg_11" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/><line fill="none" stroke-width="1.5" x1="6.9376" y1="8.79161" x2="6.9376" y2="0.03935" id="svg_13" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/><line fill="none" stroke-width="1.5" x1="13.43757" y1="8.79161" x2="13.43757" y2="0.03935" id="svg_14" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#ffffff"/><line fill="none" stroke="#ffffff" stroke-width="1.5" x1="0.68763" y1="13.54159" x2="0.68763" y2="0.03935" id="svg_15" stroke-linejoin="undefined" stroke-linecap="undefined"/></g></svg>');
    background-repeat: repeat-x;
    background-position: center top;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 70vmin;
}
@media screen and (orientation: landscape){
#dragSliderset{
    top: 10px;
    }
}
@media screen and (orientation: portrait){
#dragSliderset{
    bottom: 100px;
    }
}
#dragSliderbutt{
    height: 40px;
    width: 80px;
    min-width: 80px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px #fff outset;
    position: absolute;
    text-align: center;
    bottom: 0;
    font-size: 20px;
}
#menu{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}
#menuclose{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0,0);
    border: none;
}
#menu #kind{
    padding-top: 60px;
}

#menu #targetfaces{
}
#menu #targetfaces button{
    font-size: 20px;
}

#menu figure{
    font-size: 20px;
    color: #fff;
    padding-top: 20px;
}
#menu figure figcaption{
    text-align: center;
    padding: 5px;}

#menu  ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
#menu  ul li button{
    font-size: 25px;
    color: #fff;
    border: solid #fff 2px;
}
#menu ul#kind li button{
    font-size: 15px;
}
#deb{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    font-size: 9px;
}